<h1>GAME HERE!</h1>
<p> paragraph </p>
<p><%= @letters %>
<% @letters %> </p>

<h2>FORM HERE!</h2>
<form action="/new" method="get">
  <input type="text" name="question" placeholder="Write something.">
  <input type="submit" value="Submit">
</form>
